version: '3.8'

services:
  profile-db:
    image: postgres:16.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: profile_db
    ports:
      - "5460:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d profile_db"]
      interval: 10s
      timeout: 10s
      retries: 15
      start_period: 30s
    networks:
      - haxer-net
    volumes:
      - profile-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  profile-service:
    build: profile_service
    environment:
      # ТОЧНО ТЕ ПЕРЕМЕННЫЕ, КОТОРЫЕ ИЩЕТ КОД
      HOST: "profile-db"
      USER: "postgres"
      PASSWORD: "postgres"
      SSLMODE: "disable"
      PROFILE_DBNAME: "profile_db"
      PROFILE_PORT: "5432"

      # Другие переменные
      JWT_SECRET: "8a9b7f3e4c2d1e5a6b7c8d9e0f1a2b3c4d5e6f7g"
      GRPC_PORT: "50051"
      PROFILE_GRPC_AUTH_PORT: "50053"
      PROFILE_GRPC_DIRECTORY_PORT: "50054"
      PROFILE_HTTP_PORT: "8083"
    ports:
      - "8080:8083"
      - "50051:50051"
      - "50052:50054"
    depends_on:
      profile-db:
        condition: service_healthy
    networks:
      - haxer-net
    restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - haxer-net
    volumes:
      - redis-data:/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 10

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    networks:
      - haxer-net
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  chat-db:
    image: postgres:16.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: chat_db
    ports:
      - "5461:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d chat_db"]
      interval: 10s
      timeout: 10s
      retries: 15
      start_period: 30s
    networks:
      - haxer-net
    volumes:
      - chat-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  chat-service:
    build: ./chat_service
    environment:
      # ТОЧНО ТЕ ПЕРЕМЕННЫЕ, КОТОРЫЕ ИЩЕТ КОД
      HOST: "chat-db"
      USER: "postgres"
      PASSWORD: "postgres"
      SSLMODE: "disable"
      ROOM_DBNAME: "chat_db"
      ROOM_DBPORT: "5432"

      # Другие переменные
      JWT_SECRET: "8a9b7f3e4c2d1e5a6b7c8d9e0f1a2b3c4d5e6f7g"
      PROFILE_SERVICE_AUTH_ADDR: "profile-service:50051"
      PROFILE_SERVICE_DIRECTORY_ADDR: "profile-service:50054"
      CHAT_HTTP_PORT: "8084"
      REDIS_ADDR: "redis:6379"
      REDIS_DB: "0"
      IDLE_THRESHOLD: "120"
      GRPS_ADRESS: "0.0.0.0:50056"
    ports:
      - "8081:8084"
      - "50055:50056"
    depends_on:
      chat-db:
        condition: service_healthy
      profile-service:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - haxer-net
    restart: unless-stopped

networks:
  haxer-net:
    driver: bridge

volumes:
  profile-db-data:
  chat-db-data:
  redis-data:
  mongo-data: