version: '3.8'

services:
  profile-db:
    image: postgres:16.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: profile_db
    ports:
      - "5460:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d profile_db"]
      interval: 10s
      timeout: 10s
      retries: 15
      start_period: 30s
    networks:
      - haxer-net
    volumes:
      - profile-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  profile-service:
    build: profile_service
    environment:
      PROFILE_GRPC_AUTH_PORT: "50053"
      PROFILE_GRPC_DIRECTORY_PORT: "50054"
      PROFILE_HTTP_PORT: "8083"
      PROFILE_DB_URL: "postgres://postgres:postgres@profile-db:5432/profile_db?sslmode=disable"
    ports:
      - "8080:8083"
      - "50051:50053"
      - "50052:50054"
    depends_on:
      profile-db:
        condition: service_healthy
    networks:
      - haxer-net
    restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - haxer-net
    volumes:
      - redis-data:/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 10

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    networks:
      - haxer-net
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 10

  chat-db:
    image: postgres:16.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: chat_db
    ports:
      - "5461:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d chat_db"]
      interval: 10s
      timeout: 10s
      retries: 15
      start_period: 30s
    networks:
      - haxer-net
    volumes:
      - chat-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  chat-service:
    build: ./chat_service
    environment:
      PROFILE_SERVICE_AUTH_ADDR: "profile-service:50053"
      PROFILE_SERVICE_DIRECTORY_ADDR: "profile-service:50054"
      CHAT_HTTP_PORT: "8084"
      CHAT_DB_URL: "postgres://postgres:postgres@chat-db:5432/chat_db?sslmode=disable"
      REDIS_ADDR: "redis:6379"
      REDIS_DB: "0"
    ports:
      - "8081:8084"
      - "50055:50056"
    depends_on:
      chat-db:
        condition: service_healthy
      profile-service:
        condition: service_started
      redis:
        condition: service_healthy
    links:
      - profile-service
    networks:
      - haxer-net
    restart: unless-stopped

networks:
  haxer-net:
    driver: bridge

volumes:
  profile-db-data:
  chat-db-data:
  redis-data:
  mongo-data: